
/*=============================
#  Layout / Clearings
-------------------------------*/

.author-info:before,
.author-info:after,
.clear:before,
.clear:after,
.comment-content:before,
.comment-content:after,
.comment-meta:before,
.comment-meta:after,
.entry-content:before,
.entry-content:after,
.entry-meta:before,
.entry-meta:after,
.featured-content-inner:before,
.featured-content-inner:after,
.footer-navigation > div:before,
.footer-navigation > div:after,
.footer-widget:before,
.footer-widget:after,
.hentry:before,
.hentry:after,
.main-navigation ul:before,
.main-navigation ul:after,
.sd-block:before,
.sd-block:after,
.sharedaddy:before,
.sharedaddy:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-content-inner:before,
.site-content-inner:after,
.site-footer:before,
.site-footer:after,
.site-top-inner:before,
.site-top-inner:after,
.social-navigation > div:before,
.social-navigation > div:after,
.secondary-navigation > div:before,
.secondary-navigation > div:after {
	content: "";
	display: table;
}
.author-info:after,
.clear:after,
.comment-content:after,
.comment-meta:after,
.entry-content:after,
.entry-meta:after,
.featured-content-inner:after,
.footer-navigation > div:after,
.footer-widget:after,
.hentry:after,
.main-navigation ul:after,
.sd-block:after,
.sharedaddy:after,
.site-header:after,
.site-content:after,
.site-content-inner:after,
.site-footer:after,
.site-top-inner:after,
.social-navigation > div:after,
.secondary-navigation > div:after {
	clear: both;
}