
/*=============================
#  Variables / Colours
-------------------------------*/

// Greys
$white:          #ffffff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000000;

// Brand
$orange:         #ff8c00;
$blue:           #0098A8;
