
/* Grid
* =========================== */

.display-posts-listing {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .listing-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
    width: 50%;
    padding-bottom: 10px;
    &:nth-child(2n+1) { padding-right: 15px; }
    &:nth-child(2n+2) { padding-left: 15px; }
  }
}


.listing-item {
  height: 320px;
  &:before {}

  & .title {
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 5px;
  }
  & .date,
  & .author {
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  & .image {}
}

.home-content {
  margin: 0;
  // text-align: center;
}