
/*=============================
#  Post summary styles
-------------------------------*/

.display-posts-listing {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	padding-top: 30px;
	margin-bottom: 30px;
}



.listing-item {

	& img { display: block; }
	&:first-of-type { margin-top: 0 !important; padding-top: 0 !important; } // overwrite default style

	// post container
	&__box {
		position: relative;
		transition: all 0.5s;
		&:hover { box-shadow: 0 2px 4px 0 rgba($grey-darkest, 0.1); }
	}
	// clickable overlay
	&__link {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		z-index: 10;
	}
	// white content box on two & three column layouts
	&__content {
		position: relative;
		background-color: $white;
		padding: 0 20px 10px;
		&-footer {
			position: absolute;
			bottom: 10px;
			left: 20px;
		}
		& .entry-meta { padding: 0; }
		& .entry-title {
			font-size: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
			line-height: 1.2;
		}
	}


	/* DEFAULT POST SUMMARY
	=========================================*/
	&--default {
		margin-bottom: 45px !important;
		padding-top: 45px !important;
		max-width: 869px;
		margin: auto;
		& .entry-title { font-size: 1.7rem; }
		& a.post-thumbnail { height: auto; }
	}

	/* LARGE POST SUMMARY
	=========================================*/
	&--large {
		margin-bottom: 0px !important;
		padding-top: 0px !important;
		position: relative;
		& .entry-title {
			font-size: 32px;
		}
		& .entry-link-overlay {
			position: absolute;
			top: 0; left: 0;
			right: 0; bottom: 0;
			z-index: 10;
		}
		& .entry-content {
			padding-top: 30px;
			@include bp($xxl) {
				position: absolute;
		    bottom: 0;
		    right: 0;
		    width: 50%;
				min-width: 480px;
		    background-color: rgba($white,0.9);
		    padding: 30px;
			}
		}
	}



	/* ========================================
	 * CARDS
	 * ======================================== */

  &--medium,
	&--small {
		margin-bottom: 30px !important;
		padding-top: 0 !important;
		border-top: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
    width: 100%;
		& .entry-summary { display: none; }
		.entry-meta > span:not(:first-of-type):before {
	    content: "\002F";
	    font-weight: bold;
	    margin: 0 5px;
		}
		& .listing-item__content { height: auto; }
		& .listing-item__content-footer {
			position: relative;
			bottom: auto; left: auto;
		}
		& .cat-links {
			display: inline-block;
			background: $white;
	    padding: 4px 8px 0;
			border-radius: 3px 3px 0 0;
			position: absolute;
			bottom: 100%;
			left: 20px;
		}
	}

	/* MEDIUM POST SUMMARY / Two column
	=========================================*/
	&--medium {
		@include bp($sm) {
			flex-basis: 50%;
			width: 50%;
			& .listing-item__content { height: 124px; }
			& .listing-item__content-footer {
				position: absolute;
				bottom: 10px; left: 20px;
			}
	    &:nth-child(2n+1) { padding-right: 15px; }
	    &:nth-child(2n+2) { padding-left: 15px; }
		}
		@include bp($xxl) {
			& .entry-title { font-size: 24px; }
			& .entry-summary { display: block; }
			& .listing-item__content { height: 170px; }
		}
	}

	/* SMALL POST SUMMARY / Three column
	=========================================*/
	&--small {
		@include bp($sm) {
	    flex-basis: 50%;
	    width: 50%;
			& .listing-item__content { height: 100px; }
			& .listing-item__content-footer {
				position: absolute;
				bottom: 10px; left: 20px;
			}
	    &:nth-child(2n+1) { padding-right: 15px; }
	    &:nth-child(2n+2) { padding-left: 15px; }
		}
		@include bp($xxl) {
	    flex-basis: 33%;
	    width: 33%;
	    &:nth-child(3n+1) { padding-right: 20px; padding-left: 0; }
	    &:nth-child(3n+2) { padding-right: 10px; padding-left: 10px; }
	    &:nth-child(3n+3) { padding-right: 0; padding-left: 20px; }
		}
	}

}


