
/*=============================
#  Typography / Default
#  - base resets & starter styles
-------------------------------*/

body,
button,
input,
select,
textarea {
	color: #222;
	font-family: "Open Sans", "Helvetica", Arial, sans-serif;
	font-size: 16px;
}
body {
	line-height: 1.5;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
button,
input,
select,
textarea {
	line-height: 1.875;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Georgia", Georgia, serif;
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
}
h1 {
	font-size: 49px;
	line-height: 1.225;
	margin-bottom: 30px;
}
h2 {
	font-size: 39px;
	line-height: 1.54;
	margin-bottom: 30px;
}
h3 {
	font-size: 31px;
	line-height: 1.452;
	margin-bottom: 30px;
}
h4 {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 30px;
}
h5 {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 30px;
}
h6 {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 30px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}
p {
	margin-top: 0;
	margin-bottom: 30px;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
cite {
	font-weight: bold;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}
blockquote,
q {
	quotes: "" "";
}
blockquote {
	color: #555;
	font-style: italic;
	margin: 0 0 30px;
	padding: 0;
	position: relative;
}
blockquote:before {
	color: #ddd;
	content: "\f106";
	float: left;
}
blockquote * {
	margin-bottom: 0;
}
blockquote blockquote {
	margin-left: 30px;
	margin-top: 30px;
}
blockquote cite {
	font-style: normal;
}
address {
	margin: 0 0 30px;
}
code,
kbd,
pre,
tt,
var {
	font-family: Inconsolata, monospace;
}
pre {
	background: #eee;
	border-left: 2px solid #ff8c00;
	max-width: 100%;
	overflow: auto;
	padding: 30px;
}
abbr,
acronym {
	border-bottom: 1px dotted #222;
	cursor: help;
}
mark,
ins {
	background: #ff8c00;
	color: #fff;
	padding: 0 0.2em;
	text-decoration: none;
}
big {
	font-size: 125%;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin-bottom: 30px;
}

img {
	height: auto;
	max-width: 100%;
}