
/*=============================
#  Site / Footer
-------------------------------*/

.site-footer {
	background: #222;
	padding: 7.5px 0;
	position: relative;
}
.site-info {
	color: #ccc;
	font-size: 13px;
	line-height: 1.845;
	padding: 3px 0;
	text-align: center;
}
.site-info a {
	color: #ccc;
}
.site-info a:active,
.site-info a:focus,
.site-info a:hover {
	color: $white;
}
.site-info a:focus {
	outline-color: #555;
}
.site-info .sep {
	color: #444;
	font-size: 16px;
	line-height: 1.5;
	vertical-align: bottom;
}
.site-info .sep:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}