
/*=============================
#  Comments
-------------------------------*/

.comments-area {
	border-top: 1px solid #ddd;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 30px;
}
.comment-reply-title,
.comments-title,
.no-comments {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.no-comments {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	margin-bottom: 30px;
}
.comment-form,
.comment-form code {
	font-size: 16px;
	line-height: 1.5;
}
.comment-content {
	word-wrap: break-word;
}
.comment-content blockquote:before {
	font-size: 16px;
	height: 24px;
	line-height: 1.5;
	width: 24px;
}
.comment-list {
	border-bottom: 1px solid #ddd;
	list-style: none;
	margin-bottom: 30px;
	padding-bottom: 0;
	position: relative;
}
.comment-list .children {
	list-style: none;
}
.comment-list .comment:not(:last-of-type),
.comment-list .depth-1:not(:last-of-type) {
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}
.comment-list .comment .comment:first-of-type {
	border-top: 1px solid #eee;
	padding-top: 30px;
}
.comment-list .comment-respond {
	border-top: 1px solid #eee;
	margin-left: 30px;
	padding-top: 30px;
}
.comment-list .comment-form {
	padding-bottom: 0;
}
.pingback .comment-body {
	padding-bottom: 30px;
}
.comment-author {
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.875;
}
.comment-author a,
.comment-author b {
	font-weight: bold;
}
.comment-author img {
	border-radius: 50%;
	vertical-align: middle;
}
.comment-meta {
	margin-bottom: 30px;
}
.comment-author .avatar {
	float: left;
	margin-right: 15px;
}
.comment-author .says {
	display: none;
}
.comment-metadata .edit-link:before {
	content: "\002F";
	font-weight: bold;
	margin-right: 0.2em;
}
.comment-list .comment-reply-title small,
.comment-metadata,
.comment-reply-link {
	color: #777;
	font-family: Lato, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.54;
	padding: 5px 0;
	text-transform: uppercase;
}
.comment-list .comment-reply-title small {
	float: right;
}
.comment-metadata a,
.comment-list .comment-reply-title small a {
	color: #777;
}
.comment-list .comment-reply-title small a:active,
.comment-list .comment-reply-title small a:focus,
.comment-list .comment-reply-title small a:hover,
.comment-metadata a:active,
.comment-metadata a:focus,
.comment-metadata a:hover,
.comment-reply-link:active,
.comment-reply-link:focus,
.comment-reply-link:hover {
	color: #222;
}
.bypostauthor .fn {
	outline: 2px solid #ddd;
	padding: 0 0.2em;
}
.comment-reply-link {
	display: inline-block;
	margin-bottom: 30px;
}
.required {
	color: #ff8c00;
	font-weight: bold;
}
.comment-awaiting-moderation {
	margin-bottom: 0;
}
