
/*=============================
#  Gallery
-------------------------------*/

.gallery {
	border: 1px solid $grey-lighter;
	margin: 0 0 30px;
	padding: 3.75px;
}
.gallery-item {
	display: inline-block;
	margin-bottom: 0;
	padding: 3.75px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	color: #777;
	font-family: Lato, sans-serif;
	font-size: 16px;
	left: 0;
	line-height: 1.25;
	max-width: 100%;
	margin: 0;
	min-width: 100%;
	padding: 5px 0;
}
.gallery-icon img {
	display: block;
	margin: 0 auto;
}

/* Google Maps */
.googlemaps {
	margin-bottom: 30px;
}
.googlemaps br {
	display: none;
}
.googlemaps iframe {
	margin-bottom: 0;
}